<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Matrix Zone Booking</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style56.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+15&family=Jersey+20&display=swap" rel="stylesheet">
<link rel="icon" href="{{ url_for('static', filename='image/matrix.jpeg') }}" >
</head>

<body class="jersey-20-regular">
<div class="page-bg">
  <div class="overlay"></div>
        <nav class="">
            <a href="{{ url_for('home') }}">
                <h1>Matrix Zone</h1>
            </a>
        </nav>


<div class="hero" id="heroSlider">
  <img src="{{ url_for('static', filename='image/marvels-spider-man-pc-games-playstation-4-playstation-5-7680x3292-8652.jpg') }}" class="hero-slide">
  <img src="{{ url_for('static', filename='image/yoti.jpg') }}" class="hero-slide">
  <img src="{{ url_for('static', filename='image/god-of-war-5-v78grhtfkjsau2lc.jpg') }}" class="hero-slide">
  <img src="{{ url_for('static', filename='image/batman3.jpg') }}" class="hero-slide">
  <img src="{{ url_for('static', filename='image/un.jpg') }}" class="hero-slide">
</div>


<h2 class="title">BOOKING DETAILS</h2>

<div class="container">

  <div class="row">
  <span class="tag">NAME :</span>
  <input type="text" placeholder="" class="line-input" required>
</div>




<div class="row" >
  <span class="tag">CONTACT NO :</span>
  <input type="tel" class="line-input"  required maxlength="10" pattern="[0-9]">
  
</div>
<div class="row">
  <span class="tag">Players :</span>
  <div class="counter">
    <button onclick="changePlayers(-1)">−</button>
    <span id="players">04</span>
    <button onclick="changePlayers(1)">+</button>
  </div>
</div>
<div class="row">
  <span class="tag">CONSOLE :</span>
  <div class="console">
    <label><input type="radio" name="ps"> <h3>PS 2</h3></label>
    <label><input type="radio" name="ps"><h3>PS 4</h3> </label>
    <label><input type="radio" name="ps"> <h3>PS 5-1</h3></label>
    <label><input type="radio" name="ps"> <h3>PS 5-2</h3></label>
    <label><input type="radio" name="ps"> <h3>PS 5-3</h3></label>
  </div>
</div>
<div class="row date-row">
  <span class="tag">DATE :</span>
  <input type="date" class="date-input" id="date">
</div>
<div class="row time-row">
  <div class="tag">TIME SLOT :</div>

   <div class="slots">
    <button onclick="selectSlot(this)">10 - 11 AM</button>
    <button onclick="selectSlot(this)">11 - 12 PM</button>
    <button onclick="selectSlot(this)">12 - 1 PM</button>
    <button onclick="selectSlot(this)">1 - 2 PM</button>
    <button onclick="selectSlot(this)">2 - 3 PM</button>
    <button onclick="selectSlot(this)">3 - 4 PM</button>
    <button onclick="selectSlot(this)">4 - 5 PM</button>
    <button onclick="selectSlot(this)">5 - 6 PM</button>
    <button onclick="selectSlot(this)">6 - 7 PM</button>
    <button onclick="selectSlot(this)">7 - 8 PM</button>
    <button onclick="selectSlot(this)">8 - 9 PM</button>
    <button onclick="selectSlot(this)">9 - 10 PM</button>
  </div>
</div>
  
 <div class="cards pricing-cards">

  <div class="pricing-card ps2">
    <img src="{{ url_for('static', filename='image/ps2.png') }}" alt="PS2">
    <div class="price-content">
      <h3>PS 2</h3>

      <div class="price-table">
  <div>Players</div>
  <div>30 mins</div>
  <div>1 hour</div>

  <div>X1</div>
  <div>₹20</div>
  <div>₹30</div>

  <div>X2</div>
  <div>₹40</div>
  <div>₹60</div>

  <div>X4</div>
  <div>₹80</div>
  <div>₹120</div>
</div>

    </div>
  </div>

  <div class="pricing-card ps4">
    <img src="{{ url_for('static', filename='image/ps4.png') }}" alt="PS4">
    <div class="price-content">
      <h3>PS 4</h3>

      <div class="price-table">
  <div>Players</div>
  <div>30 mins</div>
  <div>1 hour</div>

  <div>X1</div>
  <div>₹80</div>
  <div>₹40</div>

  <div>X2</div>
  <div>₹140</div>
  <div>₹60</div>

  <div>X4</div>
  <div>₹250</div>
  <div>₹140</div>
</div>

    </div>
  </div>

  <div class="pricing-card ps5">
    <img src="{{ url_for('static', filename='image/ps5.png') }}" alt="PS5">
    <div class="price-content">
      <h3>PS 5</h3>

      <div class="price-table">
  <div>Players</div>
  <div>30 mins</div>
  <div>1 hour</div>

  <div>X1</div>
  <div>₹100</div>
  <div>₹60</div>

  <div>X2</div>
  <div>₹150</div>
  <div>₹80</div>

  <div>X4</div>
  <div>₹300</div>
  <div>₹160</div>
</div>

    </div>
  </div>

</div>


  <button class="book-btn" onclick="bookNow()">BOOK NOW</button>

</div>

<footer>  
  <h2>MATRIX ZONE</h2>
  <div class="footer-grid">
    <div>
      <h4>Contact</h4>
      <p>94446 96696</p>
      <p>94442 49995</p>
    </div>
    <div>
      <h4>Timings</h4>
      <p>Weekdays: 2 PM – 11 PM</p>
      <p>Weekends: 10 AM – 11 PM</p>
    </div>
    <div>
      <h4>Menu</h4>
      <p>Home</p>
      <p>Services</p>
      <p>Ambience</p>
      <p>Book Slot</p>
    </div>
  </div>
</footer>
</div>

<script>
let players = 4;
let selectedSlot = "";

function changePlayers(val){
  players += val;
  if(players < 1) players = 1;
  if(players > 10) players = 10;
  document.getElementById("players").innerText = players;
}

function selectSlot(btn){
  document.querySelectorAll(".slots button")
    .forEach(b => b.classList.remove("active"));
  btn.classList.add("active");
  selectedSlot = btn.innerText;
}

function bookNow(){
  alert(
    "Booking Confirmed!\n\nPlayers: " + players +
    "\nSlot: " + selectedSlot
  );
}
const contact = document.getElementById('contact');
contact.addEventListener('input', function() {
    // Remove any non-numeric character
    this.value = this.value.replace(/[^0-9]/g, '');
});
</script>
<script src="{{ url_for('static', filename='script1.js') }}"></script>
</body>
</html>